<%= form_for(@document, :html => { multipart: true }) do |form| %>
  <div class="field">
    <%= form.label :delete_at %>
    <%= form.date_select :delete_at, default: 2.weeks.from_now %>
  </div>

  <div class="field">
    <%= form.label :pdf %>
    <%= form.file_field :pdf %>
  </div>

  <div class="field">
    <%= fields_for :user, @document.user do |user_form| %>
      <%= user_form.text_field :user, list: "names" %>
      <datalist id="names">
        <% User.all.each do |user| %>
          <option value="<%= user %>">
        <% end %>
      </datalist>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
