<%= form_for(@document, :html => { multipart: true }) do |form| %>
  <div class="field">
    <%= form.label :delete_at %>
    <%= form.text_field :delete_at, "data-provide" => 'datepicker', class:"form-control" %><br />
  </div>

  <div class="custom-file">
    <%= form.label :pdf, class: 'custom-file-label' %>
    <%= form.file_field :pdf, class: 'custom-file-input' %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= fields_for :user, @document.user do |user_form| %>
      <%= user_form.text_field :user, list: "names" %>
      <datalist id="names">
        <% User.all.each do |user| %>
          <option value="<%= user %>">
        <% end %>
      </datalist>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
