<h1>Dokumente für <%= current_user.full_name %></h1>

<% @documents.each do |document| %>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= document.filename %></h5>
    <p class="card-text">
      Hochgeladen am: <%= document.created_at.strftime("%d.%m.%Y") %> <br>
      Verfügbar bis: <%= document.delete_at.strftime("%d.%m.%Y") %>
    </p>
    <%= link_to 'Download', document, class: 'card-link' %>
  </div>
</div>
<% end %>