<p>
  <strong>Filename:</strong>
  <%= @document.filename %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @document.created_at %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @document.delete_at %>
</p>

<p>
  <strong>For user:</strong>
  <%= @document.user.full_name %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
