<% content_for :title, t('headings.administration_index') %>

<%= form_tag new_administration_path, method: 'get', class: 'form-inline' do %>
  <div class="form-group mb-2">
    <%= label_tag :user, "Search", class: "sr-only" %>
    <%= text_field_tag :user, nil, placeholder: t('placeholder.name'), class: "form-control mr-2", id: "searchUser", onkeyup: "filter_names()" %>
  </div>
  <%= submit_tag t('navbar.new_user'), class: "btn btn-primary mb-2" %>
<% end %>

<% @users.each do |user| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= user.full_name %></h5>
      <p class="card-text">
        Benutzername: <%= user.username %> <br>
        E-Mail: <%= user.email %> <br>
        Geburtsdatum: <%= user.birth.strftime("%d.%m.%Y") %> <br>
      </p>
      <%= link_to 'Edit', edit_administration_path(user.id), class: 'card-link' %>
      <%= link_to 'Delete', administration_path(user.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'card-link' %>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
  function filter_names() {
    input = document.getElementById('searchUser').value.toUpperCase();
    Array.prototype.forEach.call(document.getElementsByClassName('card'), function(card) {
      heading = card.getElementsByClassName('card-body')[0].getElementsByClassName('card-title')[0].innerHTML;
      if (heading && heading.toUpperCase().includes(input)) {
        card.style.display = "";
      } else {
        card.style.display = "none";
      }
    });
  }
<% end %>
