<!doctype html>
<html lang="de">
  <head>
    <title><%= "#{@user.first_name} #{@user.last_name}" %></title>
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
  </head>
  <body>
    <div id="container">
      <img style="float: right" class="img-fluid" src="<%= get_logo %>" alt="<%= Preference.find_by_key 'title' %>">

      <p>
        Für:<br>
        <b><%= "#{@user.first_name} #{@user.last_name}" %></b>
      </p><br><br>

      <h2>Zugangsdaten für das Portal <%= Preference.where(key: 'title').first %></h2><br><br>
      <p><%= Preference.find_by_key('pdf_message') %></p>

      <div class="card text-dark bg-light mb-3">
        <div class="card-header">Zugangsdaten</div>
        <div class="card-body">
          <p class="card-text">
            <b><%= t('label.username') %></b>: <%= @user.username %> <br>
            <b><%= t('label.password') %></b>: <%= password %> <br>
            <b><%= t('label.url') %></b>: <%= Preference.find_by_key 'url' %>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
