<div class="row row-cols-1 row-cols-md-3 g-4">
<% if @documents.empty? %>
  <p><%= I18n.t('message.notice.no_file') %></p>
<% end %>

<% @documents.each do |document| %>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <%= get_filename(document.filename) %>
      </div>
      <div class="card-body">
        <p class="card-text">
          <b><%= t('label.uploaded_at') %></b>: <%= document.created_at.strftime("%d.%m.%Y") %> <br>
          <b><%= t('label.delete_at') %></b>: <%= document.delete_at.strftime("%d.%m.%Y") %> <br>
          <% if @delete %>
            <b><%= t('label.user') %></b>: <%= document.user.full_name %>
          <% end %>
        </p>
      </div>
      <div class="card-footer">
        <div class="btn-group" role="group">
          <%= button_to document, method: 'get', class: 'btn' do %><div class="text-primary"><%= icon('download', class: "text-primary") %> <%= t('button.download') %></div><% end %>

          <% if @delete %>
            <%= button_to document, method: 'delete', class: 'btn' do %><%= icon('trash', class: "text-danger") %><% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
