<%= form_for(@document, :html => { multipart: true }) do |form| %>
  <div class="mb-3">
    <%= form.label :delete_at, t('label.delete_at') %>
    <%= form.select :delete_at, get_weeks, { selected: 2 }, { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= form.label :user, t('label.user') %>
    <%= fields_for :user, @document.user do |user_form| %>
      <%= user_form.text_field :user, list: "names", class: "form-control" %>
    <% end %>
  </div>

  <div class="mb-3 custom-file">
    <div class="input-group">
      <%= form.file_field :pdf, class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit t('button.create_document'), class: "btn btn-primary mb-2" %>
  </div>

  <datalist id="names">
    <% User.all.each do |user| %>
      <option value="<%= user %>">
    <% end %>
  </datalist>
<% end %>
