<% if current_user %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to Preference.where(key: 'title').first, root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <%= navbar_item 'startpage', root_path %>

        <% if current_user.admin? %>
          <li class="nav-item dropdown">
            <%= link_to t('navbar.administration'), '#', class: 'nav-link dropdown-toggle', id: 'navbarDropdownMenuLink', role: 'button', data: {'bs-toggle': 'dropdown'}, aria: {expanded: false}%>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= navbar_dropdown_item 'overview', administration_index_path %>
              <%= navbar_dropdown_item 'new_user', new_administration_path %>
              <div class="dropdown-divider"></div>
              <%= navbar_dropdown_item 'new_document', new_document_path %>
              <%= navbar_dropdown_item 'all_documents', documents_all_path %>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ms-auto">
        <% if current_user.admin? %>
          <li><%= button_to preferences_path, action: 'show', method: 'get', class: 'btn' do %> <%= icon('gear-wide-connected') %><% end %></li>
        <% end %>

        <li><%= button_to t('button.logout'), destroy_user_session_path, method: 'delete', class: "btn btn-danger ml-auto" %></li>
      </ul>
    </div>
  </div>
</nav>
<% end %>
