<!DOCTYPE html>
<html>
<head>
  <title><%= Preference.where(key: 'title').first %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navbar' %>

<div class="container">
  <h1><%= yield :title %></h1>

  <%= yield %>
</div>

<%= render 'layouts/footer' %>

<% if flash.any? %>
  <script type="text/javascript">
      <% flash.each do |key, value| %>
      <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
      toastr.<%= type %>('<%= value %>')
      <% end %>
  </script>
<% end %>
</body>

<% if content_for?(:javascript) %>
  <script>
      <%= yield :javascript %>
  </script>
<% end %>
</html>
