<%= form_for preference, html: { class: 'form-inline row' } do |f| %>
  <%= f.text_field :key, value: preference.key, hidden: true %>

  <div class="col-5 input-group mb-2">
    <%= f.text_field :description, value: t("preferences.description.#{preference.key}", default: preference.key), class: 'form-control', readonly: true %>
  </div>

  <div class="col-5 input-group mb-2">
    <% if preference.is_file %>
      <div class="custom-file">
        <%= f.label :file, t('label.png_file'), class: 'custom-file-label' %>
        <%= f.file_field :file, class: 'custom-file-input' %>
      </div>
    <% else %>
      <%= f.label :value, 'Value', class: 'sr-only' %>
      <%= f.text_field :value, value: preference.value, class: "form-control" %>
    <% end %>
  </div>

  <div class="col mb-2">
    <%= f.submit t('button.save'), class: 'btn btn-primary' %>
  </div>
<% end %>
