<%= form_for preference, html: { class: 'form-inline row' } do |f| %>
  <%= f.text_field :key, value: preference.key, hidden: true %>

  <div class="col-5 input-group">
    <%= f.text_field :description, value: t(preference.description, default: preference.description), class: 'form-control', readonly: true %>
  </div>

  <div class="col-5 input-group">
    <%= f.label :value, 'Value', class: 'sr-only' %>
    <%= f.text_field :value, value: preference.value, class: "form-control" %>
  </div>

  <div class="col">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
