<%= form_for preference, html: { class: 'row' } do |f| %>
  <%= f.text_field :key, value: preference.key, hidden: true %>

  <div class="row mb-3">
    <div class="col">
      <%= f.text_field :description, value: t("preferences.description.#{preference.key}", default: preference.key), class: 'form-control', readonly: true %>
    </div>

    <div class="col">
      <% if preference.is_file %>
        <div class="input-group">
          <%= f.file_field :pdf, class: 'form-control' %>
        </div>
      <% elsif preference.is_textarea %>
        <%= f.text_area :value, rows: 10, class: 'form-control' %>
      <% else %>
        <%= f.text_field :value, value: preference.value, class: "form-control" %>
      <% end %>
    </div>

    <div class="col-1 d-grid">
      <%= f.submit t('button.save'), class: 'btn btn-outline-success' %>
    </div>
  </div>
<% end %>
