<% if current_user %>
  <footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-3 mb-md-0">
          <h5 class="text-uppercase"><%= Preference.where(key: 'title').first %></h5>
          <%= Preference.where(key: 'footer').first %>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.03);">
      © <%= Time.current.year %> Copyright:
      <a class="text-dark" href="https://maximilian.kapra.de">Maximilian Kapra</a> |
      <%= link_to I18n.t('headings.imprint'), legal_imprint_path, class: 'text-dark' %> |
      <%= link_to I18n.t('headings.privacy_policy'), legal_privacy_policy_path, class: 'text-dark' %>
    </div>
  </footer>
<% end %>
